version: "3.8"
services:
  email-server:
    image: aaraz/asmanymail:email-server
    container_name: asmanymail-email-server
    ports:
      - "25:2525"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - AWS_S3_BUCKET_NAME=${AWS_S3_BUCKET_NAME}
      - AWS_CDN_DOMAIN=${AWS_CDN_DOMAIN}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - email-network

networks:
  email-network:
    driver: bridge
